name: Lint GHA workflows

on:
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  # Detect if workflows changed
  changes:
    name: Detect changes
    runs-on: ubuntu-latest
    outputs:
      workflows: ${{ steps.filter.outputs.workflows }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            workflows:
              - '.github/workflows/**'

  run-actionlint:
    needs: changes
    if: ${{ needs.changes.outputs.workflows == 'true' }}
    env:
      GH_TOKEN: ${{ github.token }}
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout the code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Install actionlint gh extension
        run: gh extension install https://github.com/cschleiden/gh-actionlint

      - name: Run actionlint
        run:  gh actionlint
