name: Documentation

on:
  push:
    branches:
      - main
    paths:
      - '**.md'
      - 'docs/**'
      - '.markdownlint.json'
      - '.github/workflows/docs.yaml'
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    paths:
      - '**.md'
      - 'docs/**'
      - '.markdownlint.json'
      - '.github/workflows/docs.yaml'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  markdown-lint:
    name: Markdown Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Lint Markdown files
        uses: DavidAnson/markdownlint-cli2-action@07035fd053f7be764496c0f8d8f9f41f98305101 # v22.0.0
        with:
          globs: '**/*.md'
